* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top img {
  width: 300px;
}
.header__list {
  display: flex;
}
.header__list-item {
  margin-left: 30px;
  list-style: none;
}
.header__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(176, 176, 176);
  transition: 0.5s;
}
.header__list-item a:hover {
  color: black;
  border-bottom: 1px solid black;
}
.header__img {
  background-image: url(../img/Group7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 500px;
  margin-top: 20px;
  color: white;
}
.header__img .header__text {
  padding: 140px 50px;
}
.header__img .header__text p {
  max-width: 400px;
  font-family: Fraunces;
  color: gray;
}
.header__img .header__text h1 {
  max-width: 600px;
  font-size: 70px;
  margin: 10px 0px;
  font-family: Fraunces;
}

@media only screen and (max-width: 425px) {
  .header__top {
    flex-direction: column;
  }
  .header__list {
    margin-top: 20px;
  }
  .header__img {
    background-size: cover;
    background-position: center;
  }
  .header__img h1 {
    text-align: center;
  }
  .header__img p {
    text-align: center;
    margin: 0 auto;
  }
  .header__img .header__text h1 {
    font-size: 20px;
  }
  .header__text h1 {
    font-size: 20px;
  }
  .header__text p {
    font-size: 10px;
  }
  .header__list-item a {
    font-size: 10px;
  }
}
.section1 {
  display: flex;
  justify-content: space-around;
}
.section1__text {
  width: 500px;
  margin-top: 100px;
}
.section1__text h2 {
  font-size: 40px;
}
.section1__text p {
  margin: 20px 0px;
}

@media only screen and (max-width: 425px) {
  .section1 {
    display: grid;
  }
  .section1__text {
    text-align: center;
    margin-top: 20px;
  }
  .section1__text h2 {
    font-size: 30px;
    margin: 20px 0px;
  }
  .section1__text p {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    width: 380px;
  }
}
.main {
  background-color: rgb(12, 12, 98);
  height: 400px;
  margin-top: 300px;
  margin-bottom: 20px;
}

.section2 {
  display: flex;
  justify-content: space-between;
}
.section2__right-text {
  width: 400px;
  color: white;
  padding: 50px 0px;
}
.section2__right-text h2 {
  font-size: 30px;
  margin: 20px 0px;
}
.section2__right-text p {
  width: 500px;
}
.section2__left-imag {
  margin-top: -230px;
}

@media only screen and (max-width: 425px) {
  .section2 {
    display: grid;
    text-align: center;
  }
  .section2__left-imag {
    margin-top: 30px;
  }
  .section2__left-imag img {
    max-width: 390px;
  }
  .section2__right-text h2 {
    font-size: 20px;
  }
  .section2__right-text p {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
}
.section3 h3 {
  margin: 20px 0px;
  font-size: 50px;
}
.section3 h3 a {
  color: rgb(212, 212, 212);
  text-decoration: none;
}
.section3__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section3__text img {
  margin: 30px 0px;
}
.section3__text h4 {
  font-size: 40px;
}
.section3__list-item {
  list-style: none;
  margin: 20px 0px;
}
.section3__list-item a {
  text-decoration: none;
  color: gray;
}
.section3__list-item a:hover {
  color: black;
}

@media only screen and (max-width: 480px) {
  .section3 {
    margin-top: 500px;
    text-align: center;
  }
  .section3 h3 {
    font-size: 25px;
  }
  .section3__icons {
    display: grid;
    margin-left: 60px;
  }
  .section3__text {
    text-align: center;
    margin: 0 auto;
  }
  .section3__text h4 {
    font-size: 20px;
  }
}
.footer {
  width: 100%;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin-top: 10px;
}
.footer__container {
  max-width: 100%;
  background-color: rgb(26, 34, 70);
  margin: 0 auto;
  padding: 47px 0;
}
.footer__item {
  display: flex;
}
.footer__list-item {
  margin-left: 30px;
  list-style: none;
}
.footer__list-item__item__anchor {
  text-decoration: none;
  color: white;
}
.footer__icans a {
  margin-left: 10px;
}

.footer__list-anchor {
  text-decoration: none;
  color: white;
  font-size: 21px;
  text-transform: uppercase;
}

footer {
  background-color: rgb(26, 34, 70);
}

@media only screen and (max-width: 1020px) {
  .footer__list {
    flex-direction: column;
    padding: 0;
  }
  .footer__item {
    margin: 30px 0px;
  }
  .footer__list-anchor {
    font-size: 15px;
  }
}/*# sourceMappingURL=main.css.map */